html{
    font-size: 10px;
}

body{
    background-color: #1f283a;
    /*overflow: hidden;*/
    text-align: center;
    align-items: center;
}

.title{
    color: white;
    font-size: 15rem;
    padding-top: 0rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.buttonHolder{
    display: flex;
    flex-direction: row;
    padding: 3%;
    padding-bottom: 2rem;
    justify-content: space-between;
    flex: 0;
}

.buttonHolder div{
    width: 4rem;
}

.buttonHolder button{
    font-weight: bold;
    font-size: 20rem;
    border: solid;
    border-radius: 1rem;
    border-color: white;
    background-color: #c9c9c9;
    padding: 5rem;
    box-shadow: 0px 2rem 0px 0px #858585
}

.label{
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    margin-top: -7rem;
}

.checkboxHolder{
    display: flex;
    flex-direction: row;
    flex: 0;
    margin-top: -3rem;
    padding-bottom: 3rem;
}

.checkboxHolder button{
    flex: 1;
    border: solid;
    border-radius: 1rem;
    border-color: white;
    background-color: #c9c9c9;
    font-weight: bold;
    font-size: 1.5rem;
    width: 15rem;
    padding: 2rem;
    box-shadow: 0px 1.5rem 0px 0px #858585
}

.checkboxHolder div{
    width: 1.7rem;
}

.startButton{
    border: solid;
    border-radius: 1rem;
    border-color: white;
    background-color: #c9c9c9;
    font-weight: bold;
    font-size: 1.5rem;
    width: 65rem;
    padding: 2rem;
    box-shadow: 0px 1.5rem 0px 0px #858585
}

.infoText{
    color:  white;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

button:hover{
    background-color: #bababa;
}

button:active{
    transform: translateY(0.7rem);
    box-shadow: 0rem 1rem 0px 0px #454545;
}

input
{
    background-color: #1f283a;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1rem solid white;
    text-align: center;
    color: white;
    font-size: 5rem;
    width: 25rem;
}

td
{
    padding: 2rem;
}

td button
{
    border: solid;
    border-radius: 1rem;
    border-color: white;
    background-color: #c9c9c9;
    font-weight: bold;
    font-size: 1.5rem;
    width: 6rem;
    padding: 0rem;
    box-shadow: 0px 1.5rem 0px 0px #858585
}

